#this should live at ~/.ssh/config

#http://nerderati.com/2011/03/17/simplify-your-life-with-an-ssh-config-file/

Host *
 AddKeysToAgent yes
 UseKeychain yes
 IdentityFile ~/.ssh/id_rsa


Host curendo-test test.curendo.de
    Hostname test.curendo.de
    User superuser
    Port 4422
    IdentityFile ~/.ssh/id_rsa
    IdentitiesOnly yes



Host jag-do
    User root
	Hostname 46.101.176.135
    Port 22
    IdentityFile ~/.ssh/id_rsa
    IdentitiesOnly yes


